
## <summary>policy for babycoin</summary>


########################################
## <summary>
##	Transition to babycoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`babycoin_domtrans',`
	gen_require(`
		type babycoin_t, babycoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, babycoin_exec_t, babycoin_t)
')


########################################
## <summary>
##	Execute babycoin server in the babycoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`babycoin_initrc_domtrans',`
	gen_require(`
		type babycoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, babycoin_initrc_exec_t)
')


########################################
## <summary>
##	Search babycoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`babycoin_search_lib',`
	gen_require(`
		type babycoin_var_lib_t;
	')

	allow $1 babycoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read babycoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`babycoin_read_lib_files',`
	gen_require(`
		type babycoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, babycoin_var_lib_t, babycoin_var_lib_t)
')

########################################
## <summary>
##	Manage babycoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`babycoin_manage_lib_files',`
	gen_require(`
		type babycoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, babycoin_var_lib_t, babycoin_var_lib_t)
')

########################################
## <summary>
##	Manage babycoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`babycoin_manage_lib_dirs',`
	gen_require(`
		type babycoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, babycoin_var_lib_t, babycoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a babycoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`babycoin_admin',`
	gen_require(`
		type babycoin_t;
		type babycoin_initrc_exec_t;
		type babycoin_var_lib_t;
	')

	allow $1 babycoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, babycoin_t)

	babycoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 babycoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, babycoin_var_lib_t)

')

